<% @comments.each do |comment| %>
  <div class="vote-container">
    <% if current_user %>
      <%= link_to image_tag("snowflake.png", class: "snowflake"), {:controller => "votes",
          :action => "create",
          :comment_id => comment.id,
          :user_id => current_user.id,
          :value => "1"},
          :method => "post" %>
    <% else %>
      <%= link_to image_tag("snowflake.png", class: "snowflake") %>
    <% end %>
    <br>
    <%= comment.votes.sum(:value) %>
  </div>
  <div class="comment-container">
    <ul>
      <li><p class="comment"><%= comment.content%></li><br>
      <li>By: <%= comment.user.name %></li>
      <% if current_user && comment.user.id == current_user.id %>
      <li><%= link_to 'Delete', comment_path(comment.id), method: :delete %></p></li>
      <% else %>
        </p>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @comments.empty? %>
  <p class='about'>Been on this trail recently? <br> No one has posted yet, and others are wondering about the conditions!</p>
<% end %>
