<div>
  <h2><%= @trail.name %></h2>
</div>

<div class="comment-form">
<%= form_for @comment do |f| %>
  <p>
    <%= f.text_area :content %>
    <%= f.hidden_field :trail_id, :value => params[:id] %>
  </p>
  <p>
    <%= f.submit 'Share' %>
  </p>
<% end %>
</div>

<div class="river">
<%= render 'river', :comments => @comments %>
</div>

<div class="go-back">
  <h4><%= link_to '&larr; Trails List'.html_safe, mountain_trails_path(@trail.mountain) %></h4>
</div>