<div>
<h2><%= @trail.name %></h2>
<%= link_to 'Chat', new_trail_comment_path(@trail) %>
</div>



<% @comments.each do |comment| %>
  <div class="vote-container">
    <%= link_to image_tag("snowflake.png", class: "snowflake"), {:controller => "votes",
        :action => "create",
        :comment_id => comment.id,
        :user_id => current_user.id,
        :value => "1"},
        :method => "post" %>
    <br>
    <%= comment.votes.sum(:value) %>
  </div>
  <div class="comment-container">
    <ul>
      <li><p class="comment"><%= comment.content%></p></li><br>
      <li>Posted by: <%= comment.user.name %></p></li>
    </ul>
  </div>
<% end %>