<div class="trail-header">
  <ul>
    <li class="sort"><%= link_to 'Trending', '#' %> // <%= link_to 'Newest', '#' %></li>
    <li class="trail-name"><%= @trail.name %></li>
    <li class="post-comment"><%= link_to 'Post a Comment', new_trail_comment_path(@trail) %></li>
  </ul>
</div>



<% @comments.each do |comment| %>
  <div class="vote-container">
    <% if current_user %>
      <%= link_to image_tag("snowflake.png", class: "snowflake"), {:controller => "votes",
          :action => "create",
          :comment_id => comment.id,
          :user_id => current_user.id,
          :value => "1"},
          :method => "post" %>
    <% else %>
      <%= link_to image_tag("snowflake.png", class: "snowflake") %>
    <% end %>
    <br>
    <%= comment.votes.sum(:value) %>
  </div>
  <div class="comment-container">
    <ul>
      <li><p class="comment"><%= comment.content%></p></li><br>
      <li>Posted by: <%= comment.user.name %></p></li>
    </ul>
  </div>
<% end %>