<!DOCTYPE html>
<html>
<head>
  <title>Mountain Chat</title>

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="top-nav">
  <ul>
    <% if current_user %>
      <li>Trend</li>
      <li>New</li>
      <li><%= link_to 'Mountain Chat', root_path %></li>
      <li>Post</li>
      <li><%= link_to("Profile", user_path(current_user)) %></li>
      <li><%= link_to("Log Out", session_path(current_user), method: :delete) %></li>
    <% else %>
      <li>Trend</li>
      <li>New</li>
      <li><%= link_to 'Mountain Chat', root_path %></li>
      <li>Post</li>
      <li><%= link_to("Profile", user_path(current_user)) %></li>
      <li><%= link_to 'Login', new_session_path %></li></li>
      <li><%= link_to 'Signup', new_user_path %></li>
    <% end %>
  </ul>
</nav>

<div class="main-container">
<%= yield %>
</div>

</body>
</html>
