<!DOCTYPE html>
<html>
<head>
  <title>Mountain Chat</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
<header class="top-banner">
  <h1>Mountain Chat Header</h1>
</header>
<%= yield %>

<footer class="bottom-banner">
  <ul>
    <% if current_user %>
      <li>Welcome, <%= current_user.name%></li>
    <% else %>
      <li>Login</li>
    <% end %>
  </ul>
</footer>
</body>
</html>
